<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8" name="charset" content="" />
<meta name="" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:title" name="og:title" content="VICE | France | Le guide ultime de la connaissance" />
<meta name="twitter:title" content="VICE | France | Le guide ultime de la connaissance" />
<meta name="keywords" content="vice, vice.com, journalisme en ligne" />
<meta name="description" content="VICE.com est une plate-forme de journalisme d&#039;investigation rassemblant enquêtes, immersions, points de vue inédits – et parfois, quelques grossièretés." />
<meta property="og:description" name="og:description" content="VICE.com est une plate-forme de journalisme d&#039;investigation rassemblant enquêtes, immersions, points de vue inédits – et parfois, quelques grossièretés." />
<meta name="twitter:description" content="VICE.com est une plate-forme de journalisme d&#039;investigation rassemblant enquêtes, immersions, points de vue inédits – et parfois, quelques grossièretés." />
<meta property="og:url" name="og:url" content="http://www.vice.com/fr/" />
<meta name="twitter:url" content="http://www.vice.com/fr/" />
<meta property="og:type" name="og:type" content="website" />
<meta property="og:site_name" name="og:site_name" content="VICE" />
<meta name="twitter:site" content="@vice" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" name="og:image" content="http://www.vice.com/assets/images/vice/og/og-image.jpg" />
<meta property="og:image:type" name="og:image:type" content="image/jpeg" />
<meta name="twitter:image" content="http://www.vice.com/assets/images/vice/og/og-image.jpg" />
<meta property="og:locale" name="og:locale" content="fr" />
<meta property="fb:app_id" name="fb:app_id" content="203796769683945" />
<meta name="thumbnail" content="/assets/images/vice/og/og-image.jpg" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-square70x70logo" content="/assets/images/vice/favicons/mstile-70x70.png" />
<meta name="msapplication-TileImage" content="/assets/images/vice/favicons/mstile-144x144.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/vice/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/vice/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/vice/favicons/mstile-310x310.png" />
<link hreflang="de-at" rel="alternate" href="http://www.vice.com/alps" />
<link hreflang="en-be" rel="alternate" href="http://www.vice.com/be" />
<link hreflang="cs" rel="alternate" href="http://www.vice.com/cs" />
<link hreflang="en-nz" rel="alternate" href="http://www.vice.com/en_au" />
<link hreflang="en-ca" rel="alternate" href="http://www.vice.com/en_ca" />
<link hreflang="es-co" rel="alternate" href="http://www.vice.com/es_co" />
<link hreflang="en-dk" rel="alternate" href="http://www.vice.com/en_dk" />
<link hreflang="el-gr" rel="alternate" href="http://www.vice.com/gr" />
<link hreflang="en-us" rel="alternate" href="http://www.vice.com/" />
<link hreflang="en-gb" rel="alternate" href="http://www.vice.com/en_uk" />
<link hreflang="en-se" rel="alternate" href="http://www.vice.com/en_se" />
<link hreflang="de" rel="alternate" href="http://www.vice.com/de" />
<link hreflang="es" rel="alternate" href="http://www.vice.com/es" />
<link hreflang="es-mx" rel="alternate" href="http://www.vice.com/es_mx" />
<link hreflang="fr" rel="alternate" href="http://www.vice.com/fr" />
<link hreflang="jp" rel="alternate" href="http://www.vice.com/jp" />
<link hreflang="nl" rel="alternate" href="http://www.vice.com/nl" />
<link hreflang="pl" rel="alternate" href="http://www.vice.com/pl" />
<link hreflang="pt" rel="alternate" href="http://www.vice.com/pt" />
<link hreflang="pt-br" rel="alternate" href="http://www.vice.com/pt_br" />
<link hreflang="it" rel="alternate" href="http://www.vice.com/it" />
<link hreflang="ro" rel="alternate" href="http://www.vice.com/ro" />
<link hreflang="sr" rel="alternate" href="http://www.vice.com/rs" />
<link hreflang="ru" rel="alternate" href="http://www.vice.com/ru" />
<link hreflang="x-default" rel="alternate" href="http://www.vice.com/" />
<link rel="alternate" type="application/rss+xml" href="http://www.vice.com/fr/rss" />
<link rel="canonical" href="http://www.vice.com/fr/" />
<link rel="stylesheet" href="/assets/css/vice/style.css?v20160203163202" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" />
<link sizes="57x57" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-57x57.png" />
<link sizes="60x60" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-60x60.png" />
<link sizes="72x72" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-72x72.png" />
<link sizes="76x76" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-76x76.png" />
<link sizes="114x114" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-114x114.png" />
<link sizes="120x120" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-120x120.png" />
<link sizes="144x144" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-144x144.png" />
<link sizes="152x152" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-152x152.png" />
<link sizes="16x16" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-16x16.png" />
<link sizes="32x32" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-32x32.png" />
<link sizes="96x96" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-96x96.png" />
<link sizes="196x196" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-196x196.png" />
<link sizes="128x128" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-128.png" />
<script type="text/javascript" src="/assets/js/vmp/lib/modernizr-2.5.3.min.js" async="async"></script>
<script type="text/javascript" src="//advice-ads-cdn.vice.com/DE/viceIVW-CS.js" async="async"></script>
<script type="text/javascript">
/*<![CDATA[*/
//Begin Analytics Code
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-599058-49', 'auto', {'name' : 'tracker_1'});


ga('tracker_1.require', 'displayfeatures');

ga('tracker_1.send', 'pageview', {"page":"\/fr\/"});


/*]]>*/
</script>
<title>VICE | France | Le guide ultime de la connaissance</title>
</head>
<body class="site-page index-page  fr">
	<section class="site-wrapper">
		<div id="viceHomeAd" data-src="v-vice"></div>
	<div class="vmp-ad ad-overlay" data-ref="overlay"></div>	<div class="ad-masthead">
		<div class="ad-masthead-inner">
			<div class="vmp-ad ad-masthead" data-ref="header"></div>		</div>
	</div>
<nav class="site-menu">
	<div class="search-container">
		<div class="site-icon search"></div>

		<form action="/search" method="GET" name="search">
			<input type="text" name="query" placeholder="Search..." />
		</form>
	</div>

	<ul class="parent-list">
		
<section class="items-container" id=""><li class="parent-item no-children" id="main-nav-heading-1">
	<a href="/fr/videos">		Vidéos	</a></li>
	<ul class="child-list vidos">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-2">
			Catégories	</li>
	<ul class="child-list catgories">
		<li><a href="/fr/news">News</a></li><li><a href="/fr/music">Musique</a></li><li><a href="/fr/fashion">Mode</a></li><li><a href="/fr/travel">Reportage</a></li><li><a href="/fr/sports">Sport</a></li><li><a href="/fr/tech">Tech</a></li><li><a href="/fr/food">Food</a></li><li><a href="/fr/gaming">Gaming</a></li><li><a href="/fr/nsfw">NSFW</a></li><li><a href="/fr/dnd">Dos & Don'ts</a></li>	</ul>
<li class="parent-item no-children" id="main-nav-heading-3">
	<a href="/fr/photos">		Photo	</a></li>
	<ul class="child-list photo">
			</ul>
<li class="parent-item no-children" id="main-nav-heading-4">
	<a href="/fr/magazine">		Magazine	</a></li>
	<ul class="child-list magazine">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-5">
			Thèmes	</li>
	<ul class="child-list thmes">
		<li><a href="/fr/tag/crime">Crime</a></li><li><a href="/fr/tag/france">France</a></li><li><a href="/fr/tag/politique">Politique</a></li><li><a href="/fr/tag/tribune">Tribune</a></li><li><a href="/fr/tag/culture">Culture</a></li><li><a href="/fr/tag/lgbt">LGBT</a></li>	</ul>
</section>

					<li class="parent-item">
				<a href="/fr/pages/about" class="about-link">
					Contacts				</a>
			</li>
				<ul class="child-list about">
		<li><a href="/fr/pages/jobs">Careers</a></li><li><a href="http://advice.vice.com/?lang=fr">Publicité</a></li><li><a href="/fr/pages/store">Shop</a></li><li><a href="/fr/pages/concours">Concours</a></li><li><a href="/fr/pages/distributeurs-ou-trouver-vice-magazine">Où trouver VICE ?</a></li><li><a href="/fr/pages/privacy-and-terms">C.G.U.</a></li>				</ul>
	</ul>
</nav><section class="vice-network-bar">
	<section class="links">
		<div class="link-trigger">
			<a href="/fr/pages/about">
				Contacts			</a>
		</div>

		<ul>
			<li><a href="/fr/pages/about">Contacts</a></li><li><a href="/fr/pages/jobs">Careers</a></li><li><a href="http://advice.vice.com/?lang=fr">Publicité</a></li><li><a href="/fr/pages/store">Shop</a></li><li><a href="/fr/pages/concours">Concours</a></li><li><a href="/fr/pages/distributeurs-ou-trouver-vice-magazine">Où trouver VICE ?</a></li><li><a href="/fr/pages/privacy-and-terms">C.G.U.</a></li>		</ul>
	</section>

	<span class="copyright">&copy;2016 VICE Media LLC</span>

	<p class="version"></p>

	<section class="locales">
		<div class="current-locale"></div>

		<ul></ul>
	</section>

	<section class="family">
		<h2 class="family-trigger">The <span class="icon-sprite">VICE</span> Channels</h2>

		<ul></ul>
	</section>
</section>

<header class="site-header main-header">
	<div class="site-header-inner">
		<button class="site-icon hamburger menu-non-rounded"></button>

		<div class="logo">
			<a href="/fr/" title="VICE">
				<span></span>
			</a>
		</div>

		<div class="navigation-items-container">
			<nav class="navigation-items main-nav">
				
<ul class="items-container" id=""><li class="trigger main-nav-trigger watch" data-navigation-item-key="watch">
	<a href="/fr/videos">		Vidéos	</a></li><!----><li class="trigger main-nav-trigger sections no-link" data-navigation-item-key="sections">
			Catégories	</li><!----><li class="trigger main-nav-trigger photos" data-navigation-item-key="photos">
	<a href="/fr/photos">		Photo	</a></li><!----><li class="trigger main-nav-trigger magazine no-dropdown" data-navigation-item-key="magazine">
	<a href="/fr/magazine">		Magazine	</a></li></ul>
			</nav>

			<nav class="navigation-items more small-viewport">
									<ul class="items-container">
						<li class="trigger no-link" data-navigation-item-key="more/topics">
							<span class="small-viewport">
								Thèmes							</span>
							<span class="large-viewport">
								Plus							</span>
						</li>
					</ul>
							</nav>

			<nav class="navigation-items inline">
				
<ul class="items-container" id=""><li class="nav-title no-link">
	Thèmes:
</li><!--
--><li class="trigger inline-trigger crime" data-navigation-item-key="topics/crime">
	<a href="/fr/tag/crime">		Crime	</a></li><!----><li class="trigger inline-trigger france" data-navigation-item-key="topics/france">
	<a href="/fr/tag/france">		France	</a></li><!----><li class="trigger inline-trigger politique" data-navigation-item-key="topics/politique">
	<a href="/fr/tag/politique">		Politique	</a></li><!----><li class="trigger inline-trigger tribune" data-navigation-item-key="topics/tribune">
	<a href="/fr/tag/tribune">		Tribune	</a></li><!----><li class="trigger inline-trigger culture" data-navigation-item-key="topics/culture">
	<a href="/fr/tag/culture">		Culture	</a></li><!----><li class="trigger inline-trigger lgbt" data-navigation-item-key="topics/lgbt">
	<a href="/fr/tag/lgbt">		LGBT	</a></li>
</ul>
			</nav>
		</div>

		<div class="social-icons">
			<ul>
				<li class="google-plus">
					<a class="site-icon google-plus-logo" href="https://plus.google.com/u/0/107205668853481394229/" target="_blank"></a>
				</li><!--
				--><li class="facebook">
					<a class="site-icon facebook-logo" href="https://www.facebook.com/vicefr" target="_blank"></a>
				</li><!--
				--><li>
					<a class="site-icon twitter-logo" href="https://twitter.com/vicefr" target="_blank"></a>
				</li><!--
				--><li class="tumblr">
					<a class="site-icon tumblr-logo" href="http://vicefr.tumblr.com/" target="_blank"></a>
				</li><!--
				--><li class="subscribe">
					<a class="site-icon email-envelope" href="http://eepurl.com/jtrVf" target="_blank"></a>
				</li><!--
				--><li class="rss">
					<a class="site-icon rss-logo" href="/fr/rss"></a>
				</li><!--
				--><li class="youtube">
					<a class="site-icon youtube-play" href="https://www.youtube.com/user/vice" target="_blank"></a>
				</li>
			</ul>
		</div>

		<div class="search-container">
			<button class="site-icon search" type="button"></button>
			<button class="site-icon cancel" type="button"></button>

			<div class="searchbox-container">
				<div class="gcse-searchbox-only" data-resultsUrl="/fr/search" data-queryParameterName="query"></div>
			</div>
		</div>

		<nav class="navigation-items more large-viewport">
							<ul class="items-container">
					<li class="trigger no-link" data-navigation-item-key="more/topics">
						<span class="small-viewport">
							Thèmes						</span>
						<span class="large-viewport">
							Plus						</span>
					</li>
				</ul>
					</nav>
	</div>

	<div class="site-header-drop-downs">
		<div class="navigation-groups-container">
			<div class="navigation-group inline-group watch" data-navigation-item-key="watch">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="sections">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="sections/news">
	<a href="/fr/news">		News	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/music">
	<a href="/fr/music">		Musique	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/fashion">
	<a href="/fr/fashion">		Mode	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/travel">
	<a href="/fr/travel">		Reportage	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/sports">
	<a href="/fr/sports">		Sport	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/tech">
	<a href="/fr/tech">		Tech	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/food">
	<a href="/fr/food">		Food	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/gaming">
	<a href="/fr/gaming">		Gaming	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/nsfw">
	<a href="/fr/nsfw">		NSFW	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/dos-and-donts">
	<a href="/fr/dnd">		Dos & Don'ts	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group news" data-sub-navigation-item-key="sections/news">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group music" data-sub-navigation-item-key="sections/music">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group fashion" data-sub-navigation-item-key="sections/fashion">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group travel" data-sub-navigation-item-key="sections/travel">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group sports" data-sub-navigation-item-key="sections/sports">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group tech" data-sub-navigation-item-key="sections/tech">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group food" data-sub-navigation-item-key="sections/food">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group gaming" data-sub-navigation-item-key="sections/gaming">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group nsfw" data-sub-navigation-item-key="sections/nsfw">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group dos-and-donts" data-sub-navigation-item-key="sections/dos-and-donts">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><div class="navigation-group inline-group photos" data-navigation-item-key="photos">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group crime" data-navigation-item-key="topics/crime">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group france" data-navigation-item-key="topics/france">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group politique" data-navigation-item-key="topics/politique">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group tribune" data-navigation-item-key="topics/tribune">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group culture" data-navigation-item-key="topics/culture">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group lgbt" data-navigation-item-key="topics/lgbt">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="more/topics">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="more/topics/crime">
	<a href="/fr/tag/crime">		Crime	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/france">
	<a href="/fr/tag/france">		France	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/politique">
	<a href="/fr/tag/politique">		Politique	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/tribune">
	<a href="/fr/tag/tribune">		Tribune	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/culture">
	<a href="/fr/tag/culture">		Culture	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/lgbt">
	<a href="/fr/tag/lgbt">		LGBT	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group crime" data-sub-navigation-item-key="more/topics/crime">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group france" data-sub-navigation-item-key="more/topics/france">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group politique" data-sub-navigation-item-key="more/topics/politique">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group tribune" data-sub-navigation-item-key="more/topics/tribune">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group culture" data-sub-navigation-item-key="more/topics/culture">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group lgbt" data-sub-navigation-item-key="more/topics/lgbt">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><script type="text/template" id="nav-item-template">
	<% if(thumb_html) { %>
		<div class="image-container">
			<a href="<%= url %>">
				<% if(is_link_out){ %>
					<div class="link-out-container <%= link_out_class %>">
						<div class="site-logo"></div>
					</div>
				<% } %>

				<%= thumb_html %>

				<% if(media_type_id == 1 && video_duration_visual != false){ %>
					<div class="video-duration">
						<p><%= video_duration_visual %></p>
					</div>
				<% } %>
			</a>
		</div>
	<% } %>

	<div class="title-wrapper">
		<h2 class="item-title">
			<a href="<%= url %>">
				<%= text %>
			</a>
		</h2>
	</div>
</script>		</div>

		<div class="social-buttons-wrapper">
			<div class="social-buttons-container">
				<ul>
					<li class="google-plus">
						 <div class="g-follow" data-height="20" data-annotation="bubble" data-href="https://plus.google.com/u/0/107205668853481394229/"></div>
					</li><!--
					--><li class="facebook">
						<div id="fb-root"></div>
						<div class="fb-like" data-href="https://www.facebook.com/vicefr" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</li><!--
					--><li class="twitter">
						<a href="https://twitter.com/vicefr" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @vice</a>
					</li><!--
					--><li class="tumblr">
						<iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="114" src="//platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=vice&color_scheme=dark"></iframe>
					</li><!--
					--><li class="subscribe">
						 <a href="http://eepurl.com/jtrVf" target="_blank">
						 <span class="site-icon email-envelope">Subscribe</a>
					</li><!--
					--><li class="youtube">
						<div class="g-ytsubscribe" data-channel="vice" data-layout="default" data-count="default"></div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</header>
		<div class="site-content">
			<div class="page-container homepage-container">
			<section class="lede homepage-lede parallax-enabled accent-strip">
			<div class="lede-images image-container">
				<a href="http://www.vice.com/fr/read/feter-le-nouvel-an-avec-tito-391">
					<img class="lede-image mobile" src="https://vice-images.vice.com/images/features/crops/2016/02/12/general-1455271816-crop_mobile.jpg?resize=*:*&output-quality=75" alt="Fêter le Nouvel An avec Tito " />
					<img class="lede-image desktop" src="https://vice-images.vice.com/images/features/crops/2016/02/12/general-1455271816-crop_desktop.jpg?resize=*:*&output-quality=75" alt="Fêter le Nouvel An avec Tito " />
					<img class="lede-image lede" src="https://vice-images.vice.com/images/features/crops/2016/02/12/general-1455271816-crop_lede.jpg?resize=*:*&output-quality=75" alt="Fêter le Nouvel An avec Tito " />

									</a>
			</div>

			<div class="image-placeholder"></div>

			<div class="lede-information-wrapper information-wrapper">
				<a href="http://www.vice.com/fr/read/feter-le-nouvel-an-avec-tito-391">
					<div class="lede-information information">
						<div class="information-inner">
							<div class="information-title">
								<h2>
									<span>Fêter le Nouvel An avec Tito </span>
								</h2>

																	<p> Voyage au bout de la nuit yougoslave avec un dictateur communiste ivre</p>
															</div>

							<p class="cta ">Lire</p>
						</div>
					</div>
				</a>
			</div>
		</section>
	
	<div class="page-inner-content homepage-inner-content">
		<div class="page-inner-wrapped-content homepage-inner-wrapped-content">
							<div class="list-widget homepage-todays-stories  grid-view" data-total-items="72" data-items-per-page="6" data-thread='vicetoday'>
	
<script type="text/template" id="grid-list-view-template">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="<%= publish_date %>">
			<%= display_date %>
		</span>

		<% if(is_link_out){ %>
			<a class="link-out-link" href="<%= url %>">
				<div class="link-out-container <%= link_out_class %>">
					<div class="site-logo"></div>
				</div>
			</a>
		<% }else if(model_series_is_branded){ %>
			<span class="item-category">
				Sponsorisé			</span>
		<% }else if(category){ %>
			<a href="<%= category.url %>" class="item-category <%= category.class %>">
				<%= category.title %>
			</a>
		<% } %>
	</div>

	<% if(thumb_html){ %>
		<div class="image-container">
			<a href="<%= url %>">
				<%= thumb_html %>

				<% if(media_type_id == 1 && video_duration_visual != false){ %>
					<div class="video-duration">
						<p><%= video_duration_visual %></p>
					</div>
				<% }else if(media_type_id == "0" && !is_photo_category){ %>
					<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
				<% } %>
			</a>
		</div>
	<% } %>

	<% if(is_photo_category){ %>
		<header class="item-header-wrapper">
			<div class="item-header-container">
				<div class="item-header">
					<div class="item-meta-information grid">
						<% if(contributor){ %>
							<span class="author">
								<%= contributor.byline %>
							</span>
						<% } %>
					</div>

					<h2 class="item-title">
						<a href="<%= url %>">
							<%= info.title %>
						</a>
					</h2>

					<div class="cta">
						<span class="site-icon icon-photo"></span>
					</div>
				</div>
			</div>
		</header>
	<% }else{ %>
		<div class="item-meta-information grid">
			<% if(contributor){ %>
				<span class="author">
					<%= contributor.byline %>
				</span>
			<% } %>
		</div>

		<h2 class="item-title">
			<a href="<%= url %>">
				<%= info.title %>
			</a>
		</h2>
	<% } %>

	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="<%= publish_date %>">
			<%= display_date %>
		</span>

		<% if(contributor){ %>
			<span class="author">
				<%= contributor.byline %>
			</span>
		<% } %>
	</div>

	<p class="item-description">
		<a href="<%= url %>">
			<%= excerpt %>
		</a>
	</p>
</script>
<section class="items-container" id=""><article class="item" data-model-id="199598">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a href="/fr/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/je-bosse-dans-un-centre-d-aide-aux-victimes-france-909">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/02/11/je-bosse-dans-un-centre-d-aide-aux-victimes-france-909-1455191331-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Je bosse dans un centre d’aide aux victimes" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Anonyme ; Illustrations par Robin Renard				</span>
					</div>

		<h2 class="item-title">
			<a href="/fr/read/je-bosse-dans-un-centre-d-aide-aux-victimes-france-909">
				Je bosse dans un centre d’aide aux victimes			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				Anonyme ; Illustrations par Robin Renard			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/je-bosse-dans-un-centre-d-aide-aux-victimes-france-909">
			Mariages qui tournent au drame et conversations avec des paranoïaques : mon job est de secourir la France que l'on ne voit pas.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199424">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a href="/fr/column" class="item-category category-column">
				Column			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/lamour-le-sexe-et-les-rencards-racontes-par-une-neo-vierge-111">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/02/10/lamour-le-sexe-et-les-rencards-racontes-par-une-neo-vierge-111-1455115846-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="L’amour, le sexe et les rencards racontés par une néo-vierge" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Carrie Lloyd ; Propos rapportés par Olivia Marks				</span>
					</div>

		<h2 class="item-title">
			<a href="/fr/read/lamour-le-sexe-et-les-rencards-racontes-par-une-neo-vierge-111">
				L’amour, le sexe et les rencards racontés par une néo-vierge			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				Carrie Lloyd ; Propos rapportés par Olivia Marks			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/lamour-le-sexe-et-les-rencards-racontes-par-une-neo-vierge-111">
			J'ai décidé de m'abstenir sexuellement – ce qui est beaucoup plus difficile quand on a déjà été initiée aux plaisirs de la chair.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199737">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a href="/fr/nsfw" class="item-category category-nsfw">
				NSFW			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/des-vendeurs-de-sex-shops-nous-ont-liste-leurs-best-sellers-avant-la-saint-valentin-119">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/02/11/des-vendeurs-de-sex-shops-nous-ont-liste-leurs-best-sellers-avant-la-saint-valentin-119-1455212084-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Des vendeurs de sex-shops nous ont listé leurs best-sellers avant la Saint-Valentin" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					VICE Staff				</span>
					</div>

		<h2 class="item-title">
			<a href="/fr/read/des-vendeurs-de-sex-shops-nous-ont-liste-leurs-best-sellers-avant-la-saint-valentin-119">
				Des vendeurs de sex-shops nous ont listé leurs best-sellers avant la Saint-Valentin			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				VICE Staff			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/des-vendeurs-de-sex-shops-nous-ont-liste-leurs-best-sellers-avant-la-saint-valentin-119">
			De Pigalle aux États-Unis, un tour du monde des objets sexuels que les humains s'arrachent pour la Saint-Valentin.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199608">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a class="link-out-link" href="http://noisey.vice.com/fr/blog/fifou-pochettes-disques-rap-graphisme">
				<div class="link-out-container noisey">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://noisey.vice.com/fr/blog/fifou-pochettes-disques-rap-graphisme">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/02/11/fifou-a-mis-tout-le-rap-franais-au-carre-111-1455191548-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Fifou a mis tout le rap français au carré" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Noisey				</span>
					</div>

		<h2 class="item-title">
			<a href="http://noisey.vice.com/fr/blog/fifou-pochettes-disques-rap-graphisme">
				Fifou a mis tout le rap français au carré			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				Noisey			</span>
			</div>

	<p class="item-description">
		<a href="http://noisey.vice.com/fr/blog/fifou-pochettes-disques-rap-graphisme">
			De Booba à Gradur, en passant par Despo Rutti, Maître Gims, Aelpéacha et Mac Tyer, il a signé pas moins de 400 pochettes de disques.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199477">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a href="/fr/travel" class="item-category category-reportage">
				Reportage			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/dans-un-camp-de-sorcieres-au-ghana-439">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/02/10/dans-un-camp-de-sorcieres-au-ghana-439-1455124980-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Dans un camp de sorcières au Ghana " />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Ioana Epure				</span>
					</div>

		<h2 class="item-title">
			<a href="/fr/read/dans-un-camp-de-sorcieres-au-ghana-439">
				Dans un camp de sorcières au Ghana 			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				Ioana Epure			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/dans-un-camp-de-sorcieres-au-ghana-439">
			Condamnées à l'exil par leur communauté, ces femmes se reconstruisent auprès de leurs pairs.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199920">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a class="link-out-link" href="https://munchies.vice.com/fr/articles/je-suis-cette-serveuse-qui-assiste-consternee-a-vos-rencards-foireux-le-soir-de-la-saint-valentin">
				<div class="link-out-container munchies">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="https://munchies.vice.com/fr/articles/je-suis-cette-serveuse-qui-assiste-consternee-a-vos-rencards-foireux-le-soir-de-la-saint-valentin">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/02/12/serveuse-saint-valentin-222-1455293379-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt=" Je suis cette serveuse qui assiste, consternée, à votre rencard foireux le soir de la Saint Valentin " />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Munchies				</span>
					</div>

		<h2 class="item-title">
			<a href="https://munchies.vice.com/fr/articles/je-suis-cette-serveuse-qui-assiste-consternee-a-vos-rencards-foireux-le-soir-de-la-saint-valentin">
				 Je suis cette serveuse qui assiste, consternée, à votre rencard foireux le soir de la Saint Valentin 			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				Munchies			</span>
			</div>

	<p class="item-description">
		<a href="https://munchies.vice.com/fr/articles/je-suis-cette-serveuse-qui-assiste-consternee-a-vos-rencards-foireux-le-soir-de-la-saint-valentin">
			C'est toujours une soirée un peu étrange : votre restaurant se remplit soudain de couples qui en font des tonnes pour se donner l'impression qu'ils passent la meilleure soirée de leur vie.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199714">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a href="/fr/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/fr/video/monsieur-cherry-548">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/02/11/monsieur-cherry-548-1455207706-crop_mobile_400.png?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Monsieur Cherry, l’homme qui explosait des noix avec ses fesses" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/02/11/monsieur-cherry-548-1455207706-crop_mobile_400.png?resize=*:*&amp;output-quality=75" alt="Monsieur Cherry, l’homme qui explosait des noix avec ses fesses" /></noscript>
									<div class="video-duration">
						<p>08:27</p>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/fr/author/vice">VICE Staff</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/fr/video/monsieur-cherry-548">
				Monsieur Cherry, l’homme qui explosait des noix avec ses fesses			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				<a href="/fr/author/vice">VICE Staff</a>			</span>
			</div>

	<p class="item-description">
		<a href="/fr/video/monsieur-cherry-548">
			Après avoir été drag queen, ce Japonais s'est donné pour but de détenir le maximum de records du Guinness.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199844">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a class="link-out-link" href="https://news.vice.com/fr/article/des-chaussures-avec-des-pieds-lintrieur-continuent-de-schouer-sur-les-ctes-du-canada">
				<div class="link-out-container vice-news">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="https://news.vice.com/fr/article/des-chaussures-avec-des-pieds-lintrieur-continuent-de-schouer-sur-les-ctes-du-canada">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/02/12/chaussures-pieds-canada-222-1455277554-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Des chaussures avec des pieds à l’intérieur continuent de s’échouer sur les côtes du Canada" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/02/12/chaussures-pieds-canada-222-1455277554-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Des chaussures avec des pieds à l’intérieur continuent de s’échouer sur les côtes du Canada" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					VICE News				</span>
					</div>

		<h2 class="item-title">
			<a href="https://news.vice.com/fr/article/des-chaussures-avec-des-pieds-lintrieur-continuent-de-schouer-sur-les-ctes-du-canada">
				Des chaussures avec des pieds à l’intérieur continuent de s’échouer sur les côtes du Canada			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				VICE News			</span>
			</div>

	<p class="item-description">
		<a href="https://news.vice.com/fr/article/des-chaussures-avec-des-pieds-lintrieur-continuent-de-schouer-sur-les-ctes-du-canada">
			12 pieds ont déjà été retrouvés depuis 2007.		</a>
	</p>
</article><!-- --><article class="item item-featured" data-model-id="199429">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<a href="/fr/photo" class="item-category category-photo">
				Photo			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/feter-le-nouvel-an-avec-tito-391">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/02/10/feter-le-nouvel-an-avec-tito-391-1455116288-crop_photo.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Fêter le Nouvel An avec Tito " /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/02/10/feter-le-nouvel-an-avec-tito-391-1455116288-crop_photo.jpg?resize=*:*&amp;output-quality=75" alt="Fêter le Nouvel An avec Tito " /></noscript>
							</a>
		</div>
	
			<header class="item-header-wrapper">
			<div class="item-header-container">
				<div class="item-header">
					<div class="item-meta-information grid">
													<span class="author">
								Musée d'histoire de la Yougoslavie ; Texte de Lazara Marinkovic 							</span>
											</div>

					<h2 class="item-title">
						<a href="/fr/read/feter-le-nouvel-an-avec-tito-391">
							Fêter le Nouvel An avec Tito 						</a>
					</h2>

					<div class="cta">
						<span class="site-icon icon-photo"></span>
					</div>
				</div>
			</div>
		</header>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-12">
			févr. 12, 2016		</span>

					<span class="author">
				Musée d'histoire de la Yougoslavie ; Texte de Lazara Marinkovic 			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/feter-le-nouvel-an-avec-tito-391">
			Voyage au bout de la nuit yougoslave avec un chef d'État amoureux des soirées extravagantes.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199256">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-11">
			févr. 11, 2016		</span>

					<a href="/fr/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/agent-de-scurite-dans-un-supermarche-909">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/02/09/agent-de-scurite-dans-un-supermarche-909-1455044342-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Ma vie d’agent de sécurité dans un supermarché" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/02/09/agent-de-scurite-dans-un-supermarche-909-1455044342-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Ma vie d’agent de sécurité dans un supermarché" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Pierre, selon les propos rapportés de Flamen Keuj				</span>
					</div>

		<h2 class="item-title">
			<a href="/fr/read/agent-de-scurite-dans-un-supermarche-909">
				Ma vie d’agent de sécurité dans un supermarché			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-11">
			févr. 11, 2016		</span>

					<span class="author">
				Pierre, selon les propos rapportés de Flamen Keuj			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/agent-de-scurite-dans-un-supermarche-909">
			Vols à l'étalage, SDF morts, bagarres systématiques : ce que l'on comprend de la misère en France lorsqu'on attend à la sortie avec son chien.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="199221">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-11">
			févr. 11, 2016		</span>

					<a href="/fr/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/le-monde-du-silence-673">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/02/09/le-monde-du-silence-673-1455034360-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Le monde du silence" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/02/09/le-monde-du-silence-673-1455034360-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Le monde du silence" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/fr/author/conor-creighton">Conor Creighton</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/fr/read/le-monde-du-silence-673">
				Le monde du silence			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-11">
			févr. 11, 2016		</span>

					<span class="author">
				<a href="/fr/author/conor-creighton">Conor Creighton</a>			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/le-monde-du-silence-673">
			Le récit de mes dix jours de mutisme forcé, entre méditation et érections incontrôlables.		</a>
	</p>
</article><!-- --><article class="item item-featured" data-model-id="198563">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-11">
			févr. 11, 2016		</span>

					<a href="/fr/nsfw" class="item-category category-nsfw">
				NSFW			</a>
			</div>

			<div class="image-container">
			<a href="/fr/read/photos-from-behind-the-scenes-of-the-oscars-of-porn">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/02/05/photos-from-behind-the-scenes-of-the-oscars-of-porn-1454709904-crop_photo.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Dans les coulisses des Oscars du porno" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/02/05/photos-from-behind-the-scenes-of-the-oscars-of-porn-1454709904-crop_photo.jpg?resize=*:*&amp;output-quality=75" alt="Dans les coulisses des Oscars du porno" /></noscript>
							</a>
		</div>
	
			<header class="item-header-wrapper">
			<div class="item-header-container">
				<div class="item-header">
					<div class="item-meta-information grid">
													<span class="author">
								Nate « Igor » Smith							</span>
											</div>

					<h2 class="item-title">
						<a href="/fr/read/photos-from-behind-the-scenes-of-the-oscars-of-porn">
							Dans les coulisses des Oscars du porno						</a>
					</h2>

					<div class="cta">
						<span class="site-icon icon-photo"></span>
					</div>
				</div>
			</div>
		</header>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-11">
			févr. 11, 2016		</span>

					<span class="author">
				Nate « Igor » Smith			</span>
			</div>

	<p class="item-description">
		<a href="/fr/read/photos-from-behind-the-scenes-of-the-oscars-of-porn">
			Quatre jours d'orgies, de cérémonies et de dépressions nerveuses dans les tréfonds de Las Vegas.		</a>
	</p>
</article><!-- --></section>

	<div class="more-button">
		<p>
			<a href="/fr/articles">
				Plus			</a>
		</p>
	</div>
</div>

	<script type="text/template" id="todays-stories-ad-template">
		<div class="vmp-ad ad-articles-list" data-ref="large_in_content"></div>	</script>

	<script type="text/template" id="todays-stories-billboard-ad-template">
		<div class="vmp-ad ad-articles-list" data-ref="homepage_super_billboard"></div>	</script>

					</div>
	</div>
</div>
		</div>

		<footer class="site-footer">
	<ul>
		<li>&copy;2016 VICE Media LLC </li>
	</ul>
</footer>	</section>

	<script type="text/javascript">
/*<![CDATA[*/
window.vmp_ad_config = {
 ad_slots : {},
 ad_targetting_sizes : {},
 config : {
  adunit : "vice.com/homepage",
  targeting : {
   aid : "homepage",
   atype : "homepage",
   country : "fr"
  }
 }
};
/*]]>*/
</script><script type="application/ld+json">

{ "@context" : "http://schema.org",

  "@type" : "Organization",

  "name" : "Vice",

  "url" : "http://www.vice.com",

  "sameAs" : [ "https://www.facebook.com/VICE",

  "https://www.youtube.com/user/vice",

  "https://www.instagram.com/vice/",

  "https://www.pinterest.com/vicemag/",

  "https://twitter.com/vice",

  "https://plus.google.com/b/106872472930730227853/+VICE"] 

}

</script>
<script type="text/javascript">
/*<![CDATA[*/
var SYSTEM_PREFIX = 'vmp', SITE_PREFIX = 'vice', SITE_LOCALE ='fr';
//Socials
var SITE_SOCIALS = {'social_google_plus' : 'https://plus.google.com/u/0/107205668853481394229/',
'social_facebook' : 'vicefr',
'social_tumblr' : 'http://vicefr.tumblr.com/',
'social_youtube' : 'vice',
'social_twitter' : 'vicefr',
'social_instagram' : 'vice'};

//Total analytics accounts
var TOTAL_ANALYTICS_ACCOUNTS = 1;

//Begin Chartbeat Code
var _sf_async_config={};
//CONFIGURATION START
_sf_async_config['uid'] = 8233;
_sf_async_config['domain'] = 'vice.com';
_sf_async_config['videoType'] = 'ooyala';
_sf_async_config['sections'] = 'fr';
_sf_async_config['type'] = 'index';

//CONFIGURATION END
(function(){
function loadChartbeat(){
window._sf_endpt=(new Date()).getTime();
var e = document.createElement('script');
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat_pub.js');
document.body.appendChild(e);
e = document.createElement('script'); 
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', '//static.chartbeat.com/js/chartbeat_video.js');
document.body.appendChild(e);
}
var oldonload = window.onload;
window.onload = (typeof window.onload != 'function') ? loadChartbeat : function(){ oldonload(); loadChartbeat(); };
})();

</script><!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-6EzWtvBV9sFU3"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-6EzWtvBV9sFU3.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->

<!-- BEGIN Krux Control Tag for "Vice.com" -->

<!-- Source: /snippet/controltag?confid=JLmLD3_1&site=VICE.com&edit=1 -->
<script class="kxct" data-id="JLmLD3_1" data-timing="async" data-version="1.9" type="text/javascript">
  window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
  (function(){
    var k=document.createElement('script');k.type='text/javascript';k.async=true;
    var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
    k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" :
      (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=JLmLD3_1"
  ;
    var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
  }());
  
</script>
<script>
	window.Krux||((Krux=function(){Krux.q.push(arguments);}).q=[]);
	(function(){
	 function retrieve(n){
	var m, k='kx'+n;
	if(window.localStorage){
	   return window.localStorage[k] || "";
	}else if(navigator.cookieEnabled){
	   m = document.cookie.match(k+'=([^;]*)');
	   return (m && unescape(m[1])) || "";
	}else{
	   return '';
	}
	}
	 Krux.user = retrieve('user');
	 Krux.segments = retrieve('segs') && retrieve('segs').split(',') || [];
	})();
</script>
<!-- END Krux Controltag -->

<!-- Start Comscore -->
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<script>
		var _comscore = _comscore || [];
		_comscore.push({ c1: "2", c2: "8568956" });
		(function() {
		var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
		s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
				el.parentNode.insertBefore(s, el);
		})();
	</script>
	<noscript>
		<img src="http://b.scorecardresearch.com/p?c1=2&c2=8568956&cv=2.0&cj=1" />
	</noscript>
<!-- End Comscore -->

<!-- Start Alexa Certify Javascript -->
	<script type="text/javascript">
	_atrk_opts = { atrk_acct:"x5HVh1aUXR00Gi", domain:"vice.com",dynamic: true};
	(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
	</script>
	<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=x5HVh1aUXR00Gi" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<!-- Start Compete XL -->
	<script type="text/javascript">
	    __compete_code = 'c79a03b00361f17867f62f423817279a';
	    /* Set control variables below this line. */
	</script>
	<script type="text/javascript" src="//c.compete.com/bootstrap/s/c79a03b00361f17867f62f423817279a/vice-com/bootstrap.js"></script>
	<noscript>
	   <img width="1" height="1" src="https://ssl-vice-com-c79a03.c-col.com"/>
	</noscript>
<!-- End Compete XL -->

<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5FBQQG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5FBQQG');</script>
<!-- End Google Tag Manager -->

<!-- START Nielsen Online SiteCensus V6.0 -->
<!-- COPYRIGHT 2012 Nielsen Online -->
<script type="text/javascript" src="//secure-au.imrworldwide.com/v60.js">
</script>
<script type="text/javascript">
 var pvar = { cid: "au-vice", content: "0", server: "secure-au" };
 var trac = nol_t(pvar);
 trac.record().post();
</script>
<noscript>
 <div>
 <img src="//secure-au.imrworldwide.com/cgi-bin/m?ci=au-vice&cg=0&cc=1&ts=noscript"
 width="1" height="1" alt="" />
 </div>
</noscript>
<!-- END Nielsen Online SiteCensus V6.0 -->

<!--Austrian OEWA Tracker-->
<script type="text/javascript" src="https://vice-ads-cdn.vice.com/AT_CH/OEWA/oewa_pixel.js" async="async"></script>
<!--End Austrian OEWA Tracker--><script>
//Google Custom Search Engine
var GOOGLE_CUSTOM_SEARCH_ENGINE_ID = '014486740869999609936:7dqkcdcehdo';

//Available locales
var AVAILABLE_LOCALES = [
{"link":"\/en_au","label":"Australia \/ NZ"},
{"link":"\/be","label":"Belgium"},
{"link":"\/pt_br","label":"Brasil"},
{"link":"\/en_ca","label":"Canada"},
{"link":"\/cs","label":"\u010cesko\/Slovensko"},
{"link":"http:\/\/www.vice.cn","label":"\u4e2d\u56fd"},
{"link":"\/es_co","label":"Colombia"},
{"link":"\/en_dk","label":"Denmark"},
{"link":"\/de","label":"Deutschland"},
{"link":"\/es","label":"Espa\u00f1a"},
{"link":"\/fr","label":"France"},
{"link":"\/gr","label":"Greece"},
{"link":"\/it","label":"Italia"},
{"link":"http:\/\/jp.vice.com","label":"Japan"},
{"link":"\/es_mx","label":"M\u00e9xico"},
{"link":"\/nl","label":"Nederland"},
{"link":"\/en_se","label":"Sweden"},
{"link":"\/alps","label":"\u00d6sterreich\/Schweiz"},
{"link":"\/pl","label":"Polska"},
{"link":"\/pt","label":"Portugal"},
{"link":"\/ro","label":"Romania"},
{"link":"\/ru","label":"\u0420\u043e\u0441\u0441\u0438\u044f"},
{"link":"\/rs","label":"Srbija"},
{"link":"\/en_uk","label":"United Kingdom"},
{"link":"\/en_us","label":"United States"}
];
var CURRENT_LOCALE = 'fr';
var MOMENT_LOCALE = 'fr';
var CURRENT_LANGUAGE = 'fr';

/*]]>*/
</script>
<script type="text/javascript" src="/assets/js/vmp/lib/require.min.js?v20160203163202" id="vmp-require-js" data-main="/assets/js/vmp/system/require.config.js?v20160203163202" data-config-extension="/assets/js/vice/configs/vice.config.js?v20160203163202" data-main-script="/assets/js/vice/site/index.js" data-asset-version="v20160203163202" async="async"></script>
</body>
</html>